body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#contentAr {
  position: fixed;
  width: calc(100% - 20px);
  height: 25%;
  pointer-events: none;
  z-index: 11;
  top: auto;
  bottom: 120px;
  left: 10px;
  touch-action: manipulation;
}


#mobileInterface {
  position: absolute;
  width: calc(20% - 20px);
  height: 100%;
  pointer-events: none;
  z-index: 12;
  top: auto;
  touch-action: manipulation;
}

#turning {
  position: absolute;

  pointer-events: auto;
  display: block;
  z-index: 100;
  touch-action: manipulation;
}

#mobileInterface #joystickWrapper1 {
  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  width: 120px;
  height: 120px;
  z-index: 12;
  touch-action: manipulation;
  background-color: rgba(255, 0, 0, 0.2);
}

#mobileInterface #joystickWrapper2 {
  pointer-events: auto;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: auto;
  background-color: transparent;
  width: 50vw;
  height: 140px;
  z-index: 12;
  touch-action: manipulation;
  display: none;
}

#mobileInterface #joystickWrapper2 #jumpButton {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

#mobileInterface #joystickWrapper2 #jumpButton p {
  position: relative;
  display: inline-block;
  color: white;
  opacity: 1;
  margin: 0;
  padding: 0;
  letter-spacing: 4px;
  margin-left: 4px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}